html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Segoe UI';
}

.app-container {
	width: 1024px;
	margin: auto;
	display: flex;
	min-height: 80%;
	background-color: white;
}

.content-container {
	flex: 1 1 auto;
	width: 100%;
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

.card-body{
	font-family: Segoe UI;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

@media only screen and (max-width: 1199px) {
	.app-container {
		flex-direction: column;
		width: 900px;
	}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
	.app-container {
		margin: auto; 
		width: 720px;
		padding: 10px;
	}

	.content-container .card {
		flex-basis: 330px;
		height: 330px;
	}
}

@media only screen and (max-width: 749px) {
	.app-container {
		margin: 0 15px;
		width: calc(100% - 30px);
	}

	.content-container {
		width: calc(100% - 50px);
	}

	.content-container .card {
		height: 50px;
		flex-basis: 100%;
	}
}